
div, p {font-family:courier, arial, sans-serif; font-size:10px; line-height:14px;}

/* TABS */

.mmlib_table {
   background-color: #FAFBC7;
   color: #000000;
   font-size:12px;
   width:250px;
   height:20px;
   left:160px;
   position:absolute;
   top:25px;
   padding:2px;
   text-align:center;
 }

.tablib_selected {
  width: 150px;
}

.tablib_unselected {
  width: 150px;
}

a { text-decoration:none; }
a:hover { color:red; background-color:#ffdded; font-weight:bold;} 

/* FORMS */

.ttt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
	background-color: red;
} 

input.ttt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
	background-color: red;
   text-align:center;
} 

form, input {
	padding: 0;
	margin: 0;
}
